
body {
  font-family: Arial, sans-serif;
  background-image: url("../media/stickerbomb.jpg");
  background-size: cover;
  background-repeat: repeat; 
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#content {
  width: 80%;
  padding: 10%;
}

form {
  background-color: #d6d6d6;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(5, 5, 5, 0.253);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form h1 {
  text-align: center;
  font-size: larger;
  color: #333;
  margin-bottom: 5%;
}

form p {
  text-align: center;
  color: #1d1d1d;
  margin-bottom: 2%;
}

input[type="email"] {
  width: 90%;
  padding: 10px;
  border-radius: 2%;
  margin-bottom: 2%;
}

input[type="input-age-verification"] {
}